.navbar{
    position: fixed;
    top: 0vh;
    width: 100vw;
    z-index: 10;
}

.side-nav{
    background-color:rgba(0, 0, 0, 0.6);
    opacity: 1.0;
}

body{
    background:radial-gradient(transparent,black), url('../assets/mh-dark.jpg') no-repeat center center fixed;
    background-size: cover;
}

input{
    color:rgba(255, 255, 255, 0.87);
}

.landing{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_content{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: lightgrey;
}

.land_text {
    margin-bottom: 380px;
    font-family: Verdana, Geneva, sans-serif;
}


/*Making things responsive*/

.mobile{
    display: none;
}

@media screen and (max-width:768px){
    .web{
        display: none;
    }

    .mobile{
        display:block;
    }

    .landing_content{
        line-height: 27px;
        font-size: 21px;
    }
}