.navbar{
    position: fixed;
    top: 0vh;
    width: 100vw;
    z-index: 10;
}

.side-nav{
    background-color:rgba(0, 0, 0, 0.6);
    opacity: 1.0;
}

html{
    min-height: 100%;
}

body{
    background:radial-gradient(transparent,black), url('../assets/mh-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100%;
}

input{
    color:rgba(255, 255, 255, 0.87);
}

.landing{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_content{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: lightgrey;
}

#contnt {
	margin-top: 20px;
	margin-right: 100px;
	margin-left: 100px;
	background-color:rgba(105,105,105, 0.9)
}

/*Making things responsive*/

.mobile{
    display: none;
}

@media screen and (max-width:768px){
    .web{
        display: none;
    }

    .mobile{
        display:block;
    }

    .landing_content{
        line-height: 27px;
        font-size: 21px;
    }

    .small-margin{
        margin-left: 5vw !important;
        width: 90% !important;
    }
}