.navbar{
    position: fixed;
    top: 0vh;
    width: 100vw;
    z-index: 10;
}

.sidemenu{
    color:white !important;
    opacity: 1.0;
}

.pad{
    padding-left: 20px;
}

/*Making things responsive*/

.mobile{
    display: none;
}

@media screen and (max-width:768px){
    .web{
        display: none;
    }

    .mobile{
        display:block;
    }
}